<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style/style.css">
        <title>Mon Portfolio</title>
    </head>
    <body>
        <header>
            <h1>Mon Portfolio</h1>
            <nav>
                <a href="index.html">À propos</a>
                <a href="cv.html">CV</a>
            </nav>
        </header>

        <section id="about">
            <h2>À propos de moi</h2>
            <div class="apropos-half">
                <p>Je suis un apprenti développeur web, j'ai réalisé un BTS SIO
                    option Solutions Logicielles et Applications Métiers et me
                    suis donc spécialisé dans le développement. C'est dans
                    l'objectif de continuer sur cette voie que j'ai commencé une
                    3ème année dans l'établissement LiveCampus en alternance
                    avec l'entreprise du groupe UNIVERP, Dilog.</p>
            </div>
            <div class="apropos-half">
                <img src>
            </div>
        </section>

    </body>
    <footer>
        <p>&copy; 2024 fait par Lenny Moinardeau tous droits réservés.</p>
    </footer>
</html>