/*Gestion des couleurs Light/Dark Mode */
:root {
    --background-header-footer: #333;
    --background-main: #fff;
    --background-section: #fff;
    --fontcolor-header-footer: #fff;
    --fontcolor-section: #000;
}

.dark-mode {
    --background-header-footer: #000;
    --background-main: #222;
    --background-section: #333;
    --fontcolor-header-footer: #fff;
    --fontcolor-section: #fff;
}


/*Balises par défault*/
html {
    background-size: cover;
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 16px;
}

h2 {
    text-align: center;
}

header {
    align-self: flex-start;
    padding: 1vh;
    width: 100%;
    color: var(--fontcolor-header-footer);
    background-color: var(--background-header-footer);
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav {
    margin: 1vh;
}

nav a {
    color: var(--fontcolor-header-footer);
    text-decoration: none;
    margin: 15px;
}

nav a:hover {
    font-weight: bold;
}

main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    background-color: var(--background-main);
    padding-bottom: 3%;
}

section {
    margin-top: 3%;
    width: 95%;
    background-color: var(--background-section);
    color: var(--fontcolor-section);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    display: flex;
    padding: 20px;
}



footer {
    align-self: flex-end;
    background-color: var(--background-header-footer);
    color: var(--fontcolor-header-footer);
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

/*Balises de classes*/

.list-group-item {
    background-color: var(--background-main);
    color: var(--fontcolor-section);
}

/*Balises d'id*/

#title-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-right: 14%;
    font-size: 36px;
}

#sun-btn {
    width: 6%;
}

#section-propos {
    flex-direction: column;
    align-items: center;
}

#section-competences {
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

#section-competences h2 {
    width: 100%;
}

#section-competences-dev {
    width: 100%;
}

#section-competences-autre {
    width: 100%;
}

#img-propos {
    width: 200px;
    margin: 10px;
}

#section-dogfact {
    display: flex;
    flex-direction: column;
}

#img-chien {
    width: 50px;
    margin: 10px;
}

#dog-fact {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* modifications du site en fonction de la resolution de l'écran*/
@media (min-width: 768px) {
    
    body * {
        font-size: 18px;
    }
    
    section {
        width: 90%;
    }

    #section-competences-dev {
        width: 70%;
    }
    
    #section-competences-autre {
        width: 30%;
    }
}

@media (min-width: 1024px){
    
    body * {
        font-size: 20px;
    }
    
    section {
        width: 75%;
    }

    #section-propos {
        flex-direction: row;
        justify-content: space-around;
    }

    #section-propos-texte {
        width: 50%;
    }

    #img-propos {
        width: 250px;
        margin: 10px;
    }

    #section-competences-dev {
        width: 70%;
    }
    
    #section-competences-autre {
        width: 18%;
    }
}