
/*Balises par défault*/
html {
    background-color: white;
    background-size: cover;
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 16px;
}

h2 {
    text-align: center;
}

header {
    align-self: flex-start;
    padding: 1vh;
    width: 100%;
    color: white;
    background-color: #333;
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav {
    margin: 1vh;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
}

nav a:hover {
    font-weight: bold;
}

main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

section {
    margin-top: 3%;
    width: 95%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    display: flex;
    padding: 20px;
}


footer {
    margin-top: 3%;
    align-self: flex-end;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

/*Balises de classes*/



/*Balises d'id*/

#section-propos {
    flex-direction: column;
    align-items: center;
}

#img-propos {
    width: 200px;
    margin: 10px;
}

@media (min-width: 768px) {
    
    body {
        font-size: 18px;
    }
    
    section {
        width: 90%;
    }
}

@media (min-width: 1024px){
    
    body {
        font-size: 20px;
    }
    
    section {
        width: 75%;
    }

    #section-propos {
        flex-direction: row;
        justify-content: space-around;
    }

    #section-propos-texte {
        width: 50%;
    }

    #img-propos {
        width: 250px;
        margin: 10px;
    }
}